@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$breakpoints-max-desktop: 1440px;
$breakpoints-max-mobile: 414px;
$color-primary:#FF6060;
$color-bg:#E5E5E5;
$color-gallery-bg: #F6F6F6;


$breakpoints: (
    mobile: "(min-width: 320px) and (max-width:414px)",
    tabletPortrait: "(max-width:768px) and (orientation:portrait)",
    tabletLandscape: "(max-width:1024px) and (orientation:landscape)",
    desktop: 1025px
);

.galleryContainer {
    margin-top: 43px;
    background-color: $color-gallery-bg;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 56px 50px;
    
}

.cardContainer {
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: $color-primary;
    padding: 20px;   
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.cardLink {
    text-decoration: none;
    color: white;
}

.cardContent  {
    position: absolute;
    height: 100%;
    width: 88%;
    top: 0;
    & > span {    
        position: absolute;
        bottom: 20px;  
        font-size: 1.125rem;
        color: white;
    }
}

@media screen and #{map-get($breakpoints, mobile)} and (orientation:portrait){
    .galleryContainer {
        margin-top: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0;     
    }
        
    .cardContainer {
        width: auto;
        height: 250px;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background-color: $color-primary;
        padding: 10px;   
        cursor: pointer;
        position: relative;
        margin-left: 0;        
    }
}

@media screen and #{map-get($breakpoints, tabletLandscape)}, #{map-get($breakpoints, tabletPortrait)}{
    .galleryContainer {
        margin-top: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 0;     
    }  
    .cardContainer {
        width: auto;
        height: 250px;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        background-color: $color-primary;
        padding: 10px;   
        cursor: pointer;
        position: relative;
        margin-left: 0;        
    }
}
