@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$breakpoints-max-desktop: 1440px;
$breakpoints-max-mobile: 414px;
$color-primary:#FF6060;
$color-bg:#E5E5E5;
$color-gallery-bg: #F6F6F6;


$breakpoints: (
    mobile: "(min-width: 320px) and (max-width:414px)",
    tablet-portrait: "(max-width:768px) and (orientation:portrait)",
    tablet-landscape: "(max-width:1024px) and (orientation:landscape)",
    desktop: 1025px
);

.homeWrapper {
    width: 100%;
}
.homeContainer {
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top:63px;    
}

.brandContainer {
    position: relative;
    background-color: black;
    overflow: hidden;
    border-radius: 25px;
    height: 223px;
    width: 100%;

    & > h1 {
        font-size: 3rem;
        color: white;
        position: relative;
        z-index: 2;
        left: 25%;
        top: 15%;
        line-height: 68px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-image: url('../assets/background-brand-home.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and #{map-get($breakpoints, mobile)} and (orientation:portrait){
    .homeWrapper {
        width: 100%;
    }    
    .homeContainer {
        margin-top:20px;    
    }
    .brandContainer {
        border-radius: 10px;
        height: 111px;
        & > h1 {
            font-size: 1.5rem;
            left: 10px;
            top: 20px;
            line-height: 24px;
            width: 217px;
            font-weight: 500;
        }
        &::before {
            background-image: url('../assets/background-brand-home-mobile.png');            
        }
    }

}