@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$breakpoints-max-desktop: 1440px;
$breakpoints-max-mobile: 414px;
$color-primary:#FF6060;
$color-bg:#E5E5E5;
$color-gallery-bg: #F6F6F6;


$breakpoints: (
    mobile: "(min-width: 320px) and (max-width:414px)",
    tablet-portrait: "(max-width:768px) and (orientation:portrait)",
    tablet-landscape: "(max-width:1024px) and (orientation:landscape)",
    desktop: 1025px
);

.locationWrapper {
    margin-top: 20px;
    width: 100%;
}

.locationContainer{
    width: 100%;
}
.location-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin-top: 20px;
    
}

.location-header-info {
    position: relative;
    & > h1 {        
        font-size: 2.25rem;
        color: $color-primary;
        font-weight: 700;
        line-height: 51px;
        padding: 0;
        margin: 0;
    }   
    & > span {
        position: absolute;
        top: 50px;
        color: $color-primary;
        font-weight: 500;
    }
}

.location-header-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 167px;
    & > span {
        padding: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        color: $color-primary;
    }

    & > img {
        border-radius: 50%;
        height: 64px;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
    }
}

.location-header-tagsRates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tagsList {
    position: relative;
    left: 0;
    & > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        padding:0;
    } 
    & ul > li {
        margin-right: 10px;
        text-align: center;    
        background-color: $color-primary;
        border-radius: 10px;
        font-size: 14px;
        color: white;
        padding: 3px 10px 3px 10px;
    }
}

.location-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.descrWrapper, .equipWrapper{
    width: 582px;
}

.descr-header, .equip-header {
    background-color: $color-primary;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    font-size: 1.125rem;
    color: white;
}
.descr-content, .equip-content {
    display: none;
}

.descr-content, .equip-content {
    padding: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    color: $color-primary;
    border-radius: 0 0 10px 10px;
    background-color: #F6F6F6;
    height: 100%;
}

.equip-content > ul {
    text-align: left;
    & > li {
        list-style-type: none;
    }
}

.rates{
    height: auto;
}


@media screen and #{map-get($breakpoints, mobile)} and (orientation:portrait){
    .location-header {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 15px;    
        position: relative;   
    }    
    .location-header-info {
        text-align: left;
        width: 100%;
        & > h1 {        
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 25px;
        }   
        & > span {
            position: relative;
            top: 5px;
            font-size: 14px;
        }
    }    
    .location-header-tagsRates{
        flex-direction: column;
        margin-top: -30px;
            align-items: flex-start;
    }    
    .tagsList {
        width: 100%;
        & ul > li {
            border-radius: 5px;
            font-size: 10px;
            padding: 5px 10px 5px 10px;
        }
    }
    .rates{
        height: 15px;
    }
    .location-header-host {
        width: 117px;
        position: relative;
        top: 60px;
        right: 0;
        & > span {
            padding: 5px;
            font-size: 12px;
            line-height: 17px;
        }
        & > img {
            height: 32px;
        }
    }
    .location-content {
        flex-direction: column;
        margin-top: 20px;
    }
    .descrWrapper, .equipWrapper{
        width: 100%;        
        margin-bottom: 20px;
    }
    .descrWrapper {
        margin-top: 20px;
    }
    .descr-header, .equip-header {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 13px;
    }
    .descr-content, .equip-content {
        padding: 10px;
        font-size: 12px;
        border-radius: 0 0 5px 5px;
    }
}

@media screen and #{map-get($breakpoints, tablet-portrait)}{
    
    .location-content {
        flex-direction: column;
        margin-top: 20px;
    }
    .descrWrapper, .equipWrapper{
        width: 100%;        
        margin-bottom: 20px;
    }
}
@media screen and #{map-get($breakpoints, tablet-landscape)}{
    
    .location-content {
        flex-direction: column;
        margin-top: 20px;
    }
    .descrWrapper, .equipWrapper{
        width: 100%;        
        margin-bottom: 20px;
    }
}