$color-primary:#FF6060;
$color-bg:#E5E5E5;
$color-gallery-bg: #F6F6F6;


$breakpoints: (
    mobile: 320px,
    tablet: 480px,
    desktop: 1025px
);

$breakpoints-max-desktop: 1440px;
$breakpoints-max-mobile: 441px;