.locationWrapper {
    margin-top: 20px;
    width: 100%;
}

.locationContainer{
    width: 100%;
}
.location-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin-top: 20px;
    
}

.location-header-info {
    position: relative;
    & > h1 {        
        font-size: 2.25rem;
        color: $color-primary;
        font-weight: 700;
        line-height: 51px;
        padding: 0;
        margin: 0;
    }   
    & > span {
        position: absolute;
        top: 50px;
        color: $color-primary;
        font-weight: 500;
    }
}

.location-header-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 167px;
    & > span {
        padding: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        color: $color-primary;
    }

    & > img {
        border-radius: 50%;
        height: 64px;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
    }
}

.location-header-tagsRates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tagsList {
    position: relative;
    left: 0;
    & > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        padding:0;
    } 
    & ul > li {
        margin-right: 10px;
        text-align: center;    
        background-color: $color-primary;
        border-radius: 10px;
        font-size: 14px;
        color: white;
        padding: 3px 10px 3px 10px;
    }
}

.location-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.descrWrapper, .equipWrapper{
    width: 582px;
}

.descr-header, .equip-header {
    background-color: $color-primary;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    font-size: 1.125rem;
    color: white;
}
.descr-content, .equip-content {
    display: none;
}

.descr-content, .equip-content {
    padding: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    color: $color-primary;
    border-radius: 0 0 10px 10px;
    background-color: #F6F6F6;
    height: 100%;
}

.equip-content > ul {
    text-align: left;
    & > li {
        list-style-type: none;
    }
}

.rates{
    color: $color-primary;
}

.rates-less {
    color: "#E3E3E3";
}

@media screen and (min-width: 320px) and (max-width:414px) and (orientation:portrait){
    .location-header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;    
        position: relative;    
    }    
    .location-header-info {
        & > h1 {        
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 25px;
        }   
        & > span {
            top: 50px;
            font-size: 14px;
        }
    }    
    .location-header-tagsRates{
        flex-direction: column;
        margin-top: 30px;
    }    
    .tagsList {
        width: 100%;
        & ul > li {
            border-radius: 5px;
            font-size: 10px;
            padding: 5px 10px 5px 10px;
        }
    }
    .rates{
        size: "md";
        color: black;
    }
    .location-header-host {
        position: absolute;
        top: 100px;
        right: 0;
        & > img {
            border-radius: 50%;
            height: 64px;
            box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
        }
    }
}