.locationWrapper {
    margin: 20px 100px;
    width: 100%;
}

.locationContainer{
    width: 100%;
}
.location-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin-top: 30px;
    
}

.location-header-info {
    position: relative;
    & > h1 {        
        font-size: 2.25rem;
        color: $color-primary;
        font-weight: normal;
        line-height: 51px;
        padding: 0;
        margin: 0;
    }   
    & > span {
        position: absolute;
        top: 50px;
        color: $color-primary;
    }
}

.location-header-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 167px;
    & > span {
        padding: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        color: $color-primary;
    }

    & > img {
        border-radius: 50%;
        height: 64px;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
    }
}

.location-header-tagsRates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tagsList {
    position: relative;
    left: 0;
    & > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        padding:0;
    } 
    & ul > li {
        margin-right: 10px;
        text-align: center;    
        background-color: $color-primary;
        border-radius: 10px;
        font-size: 14px;
        color: white;
        padding: 3px 10px 2px 10px;
    }
}

.full-star {
    border: 1px solid red;
    height: 30px;
    width: 30px;
    font-size: 30px;
}